footer.page-footer.grey.darken-4
  .container
    .row
      .col.l6.s12
        .flex.h-align-left.v-align-center
          img(src='/images/logo/logo.svg', alt='Logo innatus')
        p.grey-text.text-lighten-4 #{aboutUs}
  .footer-copyright
    .container
      a.grey-text.text-lighten-3(href='https://goo.gl/maps/j5Mvs', title='Google Map', target='_blank')
        i.fas.fa-map-marked-alt
        |  Dorrego 2124, Ciudad Autonoma de Buenos Aires.
      .right
        a.grey-text.text-lighten-3(href='https://www.facebook.com/innatus.cursos', title='Facebook', target='_blank')
          i.fab.fa-lg.fa-facebook-square
        a.grey-text.text-lighten-3(href='https://twitter.com/innatus_cursos', title='Twitter', target='_blank')
          i.fab.fa-lg.fa-twitter-square
        a.grey-text.text-lighten-3(href='https://plus.google.com/+InnatusAr', title='Google+', target='_blank')
          i.fab.fa-lg.fa-google-plus-square
