style.
  .navbar-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

.navbar-fixed
  nav.grey.darken-4
    .nav-wrapper
      .container
        a(href='index.html', title='Ir al inicio')
          img.navbar-logo(src='/images/logo/logo.svg', alt='Logo Innatus')
        ul.right
          li
            a.grey-text.text-lighten-5(href='#promotions') Promociones
          li
            a.grey-text.text-lighten-5(href='#teachers') Profesores
          li
            a.grey-text.text-lighten-5(href='#courses') Cursos
          li
            a.grey-text.text-lighten-5(href='#about') Nosotros
          li
            a.grey-text.text-lighten-5(href='#contact') Contacto