doctype html
html(lang="es")
  
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# books: http://ogp.me/ns/books#")
    //- Import Google Fonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Material+Icons|Raleway:100,300,400,500,700,900")  
    //- Font Awesome
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.1.1/css/all.css", integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ", crossorigin="anonymous")
    //-  Materialize
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css")
    //-  App Styles
    link(rel="stylesheet", href="/styles/styles.css")

    block head
  
  body
    //- jQuery
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    //- Materialize
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js")
    
    block body