style.
  .section.campaign-section img.campaign-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

.section.campaign-section
  .container
    h2.grey-text.text-lighten-5.center Promociones
    p.grey-text.center Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .row
      .col.s6
        .card.horizontal
          .card-image
            img.campaign-img(src='https://www.webinterpret.com/wp-content/uploads/2015/10/20.png')
          .card-stacked
            .card-content
              p Si venis con un amigo, ambos pueden acceder a un descuento del 20% sobre el valor del curso.
            .card-action
              a.deep-orange-text(href='#courses') Ver más
      .col.s6
        .card.horizontal
          .card-image
            img.campaign-img(src='https://www.webinterpret.com/wp-content/uploads/2015/10/20.png')
          .card-stacked
            .card-content
              p Si venis con un amigo, ambos pueden acceder a un descuento del 20% sobre el valor del curso.
            .card-action
              a.deep-orange-text(href='#courses') Ver más
