.section.grey.lighten-5
  .container
    h2.grey-text.text-darken-4.center ¿Qué curso te gustaría hacer?
    p.grey-text.center Conviértete en un experto con prácticas reales
    br
    br
    .row
      .col.s4
        .input-field.col.s12
          select#filterBy
            option(value='*', selected='') Todos los cursos
            option(value='.industrial_design') Diseño Industrial
            option(value='.graphic_design') Diseño Gráfico
            option(value='.architecture') Arquitectura
            option(value='.programming') Programación
          label Filtrar por:
      .col.s4
        .input-field.col.s12
          select#orderBy
            option(value='quantityStudents', selected='') Popularidad
            option(value='hoursForLesson') Drucación
            option(value='courseName') Nombre
          label Ordenar por:
    .row
      .grid
        each course in courses
          include ./course.jade

script.
  // init Isotope
  const isotope =  $('.grid').isotope({
    itemSelector: '.grid-item',
    layoutMode: 'fitRows',
    getSortData: {
      'quantityStudents': '.sort-quantityStudents',
      'hoursForLesson': '.sort-hoursForLesson',
      'courseName': '.sort-courseName',
    }
  });
  // Init FilterBy Select
  $('#filterBy').formSelect().on('change', () => {
    const value = $('#filterBy').val();
    isotope.isotope({ filter: value });
  });
  // Init OrderBy Select
  $('#orderBy').formSelect().on('change', () => {
    const value = $('#orderBy').val();
    isotope.isotope({ sortBy: value });
  });
