html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

body, html {
  height: 100%; }

.page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px; }
  @media screen and (max-width: 640px) {
    .page {
      margin: 0 auto -90px; } }

footer, .push {
  height: 70px; }
  @media screen and (max-width: 640px) {
    footer, .push {
      height: 90px; } }

.full-title i, .btn-secondary, .wrapper, .description-cont .description-txt, .legal, .certificate, .teacher .teacher-details {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }

.full-title {
  float: left;
  display: block;
  font-size: 32px;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif; }
  .full-title span {
    float: left; }
  .full-title .acronym {
    padding: 8px 18px;
    background-color: #ff593d;
    margin-right: 15px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    font-family: "PT Sans", sans-serif; }
  .full-title .course-title {
    margin-top: 8px; }
  .full-title i {
    float: left;
    display: block;
    width: 28px;
    height: 28px;
    margin-top: 12px;
    padding-top: 5px;
    margin-left: 15px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 16px;
    color: #424854;
    text-align: center; }

.btn-secondary {
  position: relative;
  z-index: 3;
  padding: 8px 18px;
  float: left;
  background-color: transparent;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border: 2px solid #fff;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s; }
  .btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.1); }

body, html {
  font-family: "PT Sans", sans-serif;
  height: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px; }

.wrapper.minwrapper {
  width: 100%;
  max-width: 800px; }

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  outline: none; }

.background {
  position: relative;
  width: 100%;
  height: 450px;
  max-height: 450px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s; }

.slogan {
  padding-top: 120px; }
  @media screen and (max-width: 768px) {
    .slogan {
      padding-top: 80px; } }
  .slogan span {
    position: relative;
    z-index: 10;
    font-family: "PT Sans Narrow", sans-serif;
    display: block;
    font-size: 60px;
    color: #fff; }
    .slogan span:first-child {
      color: #ff593d; }

.header-links {
  margin-top: 50px;
  display: block;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5); }
  .header-links a {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s; }
    .header-links a:hover {
      color: #ff593d; }

.background.b-home {
  background: url(../img/pattern.gif) fixed repeat; }
  @media screen and (max-width: 640px) {
    .background.b-home .slogan {
      padding-top: 130px; }
      .background.b-home .slogan span {
        font-size: 50px;
        margin-bottom: 10px; } }
  @media screen and (max-width: 640px) and (max-width: 480px) {
    .background.b-home .slogan {
      padding-top: 110px; }
      .background.b-home .slogan span {
        font-size: 45px;
        margin-bottom: 20px; } }

    @media screen and (max-width: 640px) and (max-width: 480px) and (max-width: 360px) {
      .background.b-home .slogan span {
        font-size: 38px; } }

header nav {
  width: 100%;
  z-index: 3;
  position: absolute;
  padding: 20px 0;
  background-color: transparent; }
  header nav #index {
    float: left; }

.menu {
  display: none;
  float: right;
  color: #fff;
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s; }
  .menu:hover {
    color: #ff593d; }
  @media screen and (max-width: 768px) {
    .menu {
      display: block; } }

.menues a {
  float: right;
  color: #fff;
  margin-left: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s; }
  .menues a:hover {
    color: #ff593d; }
  @media screen and (max-width: 768px) {
    .menues a {
      display: none; } }

.select-course-type a {
  display: block;
  z-index: 999;
  float: left;
  width: 50%;
  padding: 30px 0;
  background-color: #ff593d;
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-family: "PT Sans Narrow", sans-serif;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s; }
  @media screen and (max-width: 640px) {
    .select-course-type a {
      font-size: 25px; } }
  @media screen and (max-width: 480px) {
    .select-course-type a {
      font-size: 30px;
      padding: 18px 0; } }
  .select-course-type a:hover {
    background-color: #be422d; }
  .select-course-type a i {
    margin-right: 10px; }
  @media screen and (max-width: 480px) {
    .select-course-type a span {
      display: none; } }

.course {
  position: relative;
  width: 100%;
  min-height: 450px;
  border-top: 2px solid #ff593d;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s; }
  @media screen and (max-width: 640px) {
    .course {
      min-height: 200px;
      background-size: auto 100%; } }
  .course .velo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(../img/velo.png) repeat; }
  .course .course-summary {
    position: relative;
    z-index: 2;
    padding-top: 90px;
    padding-bottom: 90px;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s; }
    @media screen and (max-width: 640px) {
      .course .course-summary {
        padding-top: 50px;
        padding-bottom: 50px; } }
  .course .duration {
    display: block;
    width: 100%;
    float: left;
    font-style: italic;
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 10px;
    color: #fff;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s; }
    @media screen and (max-width: 640px) {
      .course .duration {
        font-size: 16px; } }
  .course .description-summary {
    float: left;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 22px;
    color: #fff;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s; }
    @media screen and (max-width: 640px) {
      .course .description-summary {
        font-size: 14px;
        line-height: 1.3; } }
  .course .pic-author {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    right: 40px;
    color: rgba(255, 255, 255, 0.2); }
  @media screen and (max-width: 640px) {
    .course .btn-secondary {
      font-size: 16px;
      border-radius: 14px;
      -webkit-border-radius: 14px;
      -moz-border-radius: 14px;
      -ms-border-radius: 14px;
      -o-border-radius: 14px; } }
  @media screen and (max-width: 640px) {
    .course .full-title {
      font-size: 20px; }
      .course .full-title .acronym {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; }
      .course .full-title .course-title {
        width: 100%;
        font-size: 25px;
        margin-top: 20px; } }
    @media screen and (max-width: 640px) and (max-width: 360px) {
      .course .full-title .course-title {
        font-size: 22px; } }
  @media screen and (max-width: 640px) {
      .course .full-title i {
        display: none; } }
  @media screen and (max-width: 640px) {
    .course > span {
      display: none; } }

.course.b-csv {
  background: url(../img/home/b-csv.jpg) center center no-repeat; }

.course.b-csp {
  background: url(../img/home/b-csp.jpg) center center no-repeat; }

.course.b-dwi {
  background: url(../img/home/b-dwi.jpg) center center no-repeat; }

.course.b-mra {
  background: url(../img/home/b-mra.jpg) center center no-repeat; }

.course.b-at1 {
  background: url(../img/home/b-at1.jpg) center center no-repeat; }

.opensource {
  background-color: #e6e6e6;
  padding-top: 50px;
  padding-bottom: 50px; }
  .opensource img {
    width: 20%;
    float: left; }
    @media screen and (max-width: 480px) {
      .opensource img {
        width: 40%;
        display: block;
        float: none;
        margin-right: auto;
        margin-left: auto; } }
    @media screen and (max-width: 360px) {
      .opensource img {
        width: 50%; } }
  .opensource p {
    float: right;
    margin-top: 15px;
    font-size: 20px;
    width: 70%; }
    @media screen and (max-width: 640px) {
      .opensource p {
        font-size: 16px; } }
    @media screen and (max-width: 480px) {
      .opensource p {
        width: 100%;
        text-align: center; } }

.meetus {
  background-color: #424854;
  padding-top: 50px;
  padding-bottom: 50px; }
  .meetus img {
    display: block;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (max-width: 640px) {
      .meetus img {
        height: 80px; } }
  .meetus p {
    font-size: 22px;
    color: #fff;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; }
    @media screen and (max-width: 640px) {
      .meetus p {
        font-size: 18px; } }
  .meetus .btn-secondary {
    float: none;
    display: block;
    max-width: 170px;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
    @media screen and (max-width: 640px) {
      .meetus .btn-secondary {
        font-size: 16px; } }

.teachers {
  position: relative;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  max-height: 450px;
  background: #424854 url(../img/home/docentes.jpg) center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover; }
  @media screen and (max-width: 640px) {
    .teachers {
      padding-top: 80px;
      padding-bottom: 80px; } }
  .teachers .velo-docente {
    height: 450px;
    max-height: 450px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    background: url(../img/home/velo-docentes.png) repeat;
    background-size: 2px 100%; }
    @media screen and (max-width: 640px) {
      .teachers .velo-docente {
        max-height: 200px; } }
  .teachers .btn-secondary {
    position: relative;
    z-index: 2;
    float: none;
    display: block;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
    @media screen and (max-width: 640px) {
      .teachers .btn-secondary {
        font-size: 16px; } }

footer {
  display: block;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.3);
  padding-top: 20px;
  text-align: center; }
  footer span {
    font-size: 16px;
    font-style: italic; }
    @media screen and (max-width: 1024px) {
      footer span {
        font-size: 14px; } }
    @media screen and (max-width: 640px) {
      footer span {
        display: block;
        font-size: 12px; } }
  footer a {
    color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    font-size: 32px; }
    @media screen and (max-width: 640px) {
      footer a {
        padding: 10px 30px;
        margin-top: 20px; } }
    @media screen and (max-width: 360px) {
      footer a {
        padding: 10px 20px; } }
  footer .fa.fa-facebook-official:hover {
    color: #3b5998; }
  footer .fa.fa-twitter:hover {
    color: #55acee; }
  footer .fa.fa-google-plus:hover {
    color: #dd4b39; }
  footer .fa.fa-map-marker {
    color: #dd4b39; }
    footer .fa.fa-map-marker:hover {
      color: #f57d00; }

.expanded-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #fff; }
  .expanded-menu .menu {
    color: #ff593d;
    margin-top: 20px; }
  .expanded-menu .menu-items {
    margin-top: 200px;
    padding: 5px 50px;
    transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    -ms-transition: all 0.2s ease 0.1s;
    -o-transition: all 0.2s ease 0.1s; }
    .expanded-menu .menu-items a {
      display: block;
      padding-bottom: 100px;
      font-size: 60px;
      color: transparent;
      text-align: center;
      font-family: "PT Sans Narrow", sans-serif;
      transition: all 0.4s ease 0.2s;
      -webkit-transition: all 0.4s ease 0.2s;
      -moz-transition: all 0.4s ease 0.2s;
      -ms-transition: all 0.4s ease 0.2s;
      -o-transition: all 0.4s ease 0.2s; }
      .expanded-menu .menu-items a:hover {
        color: #ff593d; }
      @media screen and (max-width: 640px) {
        .expanded-menu .menu-items a {
          text-align: center; } }
  .expanded-menu .menu-items.expand {
    margin-top: 100px; }
    .expanded-menu .menu-items.expand a {
      padding-bottom: 25px;
      font-size: 40px;
      color: #424854; }
      .expanded-menu .menu-items.expand a:hover {
        transition: color 0.1s ease 0s;
        -webkit-transition: color 0.1s ease 0s;
        -moz-transition: color 0.1s ease 0s;
        -ms-transition: color 0.1s ease 0s;
        -o-transition: color 0.1s ease 0s;
        color: #ff593d; }

.velo-cursos {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background: url(../img/velo.png) center top repeat;
  background-size: auto 100%; }

.background.b-cursos span {
  text-align: center; }
  @media screen and (max-width: 768px) {
    .background.b-cursos span {
      font-size: 50px; } }
  @media screen and (max-width: 480px) {
    .background.b-cursos span {
      font-size: 42px; } }
  .background.b-cursos span:first-child {
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
.background.b-cursos .price {
  margin-top: 30px;
  margin-bottom: 10px; }
.background.b-cursos .duration {
  font-size: 28px; }
  @media screen and (max-width: 480px) {
    .background.b-cursos .duration {
      font-size: 22px; } }
.background.b-cursos .btn-secondary {
  margin-top: 40px;
  float: none;
  display: block;
  max-width: 190px;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.course-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ff593d;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8); }
  .course-bar .acronym {
    color: #ff593d;
    background-color: #fff; }
  .course-bar .btn-secondary {
    float: right;
    margin-top: 5px; }

.modulo {
  background-color: #ff593d; }
  .modulo p {
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
    font-size: 28px;
    text-align: center;
    font-style: italic; }
    @media screen and (max-width: 768px) {
      .modulo p {
        font-size: 22px;
        line-height: 1.5;
        padding-top: 60px;
        padding-bottom: 60px; } }
    @media screen and (max-width: 640px) {
      .modulo p {
        font-size: 16px; } }
    .modulo p i {
      color: rgba(255, 255, 255, 0.4); }

.thumbs {
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2); }
  .thumbs img {
    width: 25%;
    float: left; }
    @media screen and (max-width: 768px) {
      .thumbs img {
        width: 50%; } }

.description-cont {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px; }
  @media screen and (max-width: 480px) {
    .description-cont {
      padding-right: 0;
      padding-left: 0;
      margin-top: 30px; } }
  .description-cont > div div {
    width: 50%; }
    @media screen and (max-width: 768px) {
      .description-cont > div div {
        width: 100%; } }
  .description-cont > div {
    margin: 60px 0;
    position: relative; }
    @media screen and (max-width: 640px) {
      .description-cont > div {
        margin: 30px 0; } }
    .description-cont > div:nth-child(even) .description-pic, .description-cont > div:nth-child(odd) .description-txt {
      float: left; }
    .description-cont > div:nth-child(odd) .description-pic, .description-cont > div:nth-child(even) .description-txt {
      float: right; }
  .description-cont .photo {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    width: 100%; }
    @media screen and (max-width: 480px) {
      .description-cont .photo {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0; } }
  .description-cont .description-txt {
    padding: 40px; }
    @media screen and (max-width: 1024px) {
      .description-cont .description-txt {
        padding: 20px; } }
    .description-cont .description-txt h2 {
      font-family: "PT Sans Narrow", sans-serif;
      color: #ff593d;
      font-size: 40px;
      padding-bottom: 20px; }
      @media screen and (max-width: 1024px) {
        .description-cont .description-txt h2 {
          font-size: 32px; } }
      @media screen and (max-width: 768px) {
        .description-cont .description-txt h2 {
          font-size: 40px; } }
      @media screen and (max-width: 640px) {
        .description-cont .description-txt h2 {
          font-size: 28px; } }
      @media screen and (max-width: 360px) {
        .description-cont .description-txt h2 {
          font-size: 22px; } }
    .description-cont .description-txt p {
      font-size: 20px;
      line-height: 1.5;
      color: #333333; }
      @media screen and (max-width: 1024px) {
        .description-cont .description-txt p {
          font-size: 18px; } }
      @media screen and (max-width: 768px) {
        .description-cont .description-txt p {
          font-size: 20px; } }
      @media screen and (max-width: 640px) {
        .description-cont .description-txt p {
          font-size: 18px; } }
      @media screen and (max-width: 360px) {
        .description-cont .description-txt p {
          font-size: 14px; } }

.tools {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(../img/pattern.gif) fixed repeat; }
  @media screen and (max-width: 640px) {
    .tools {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .tools h1 {
    margin-bottom: 30px;
    text-align: center;
    color: #ff593d;
    font-size: 40px;
    font-family: "PT Sans Narrow", sans-serif; }
    @media screen and (max-width: 640px) {
      .tools h1 {
        font-size: 32px;
        text-align: left; } }
    @media screen and (max-width: 360px) {
      .tools h1 {
        font-size: 28px; } }
  .tools li {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff; }
    @media screen and (max-width: 640px) {
      .tools li {
        font-size: 16px;
        line-height: 1.5;
        text-align: left; } }
    @media screen and (max-width: 360px) {
      .tools li {
        font-size: 14px; } }
    .tools li a {
      color: #fff; }
      .tools li a i {
        font-size: 16px;
        color: rgba(255, 89, 61, 0.5);
        transition: all 0.2s ease 0s;
        -webkit-transition: all 0.2s ease 0s;
        -moz-transition: all 0.2s ease 0s;
        -ms-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s; }
        @media screen and (max-width: 480px) {
          .tools li a i {
            font-size: 12px;
            margin-left: 3px; } }
    .tools li:hover i {
      margin-left: 8px;
      color: #ff593d; }

.profile,
.target,
.topics {
  max-width: 1024px;
  padding-top: 50px; }
  .profile h1,
  .target h1,
  .topics h1 {
    padding-bottom: 20px;
    font-size: 40px;
    color: #ff593d;
    font-family: "PT Sans Narrow", sans-serif; }
    @media screen and (max-width: 640px) {
      .profile h1,
      .target h1,
      .topics h1 {
        font-size: 28px; } }
  .profile p,
  .profile ul li,
  .target p,
  .target ul li,
  .topics p,
  .topics ul li {
    font-size: 22px;
    color: #333333; }
    @media screen and (max-width: 640px) {
      .profile p,
      .profile ul li,
      .target p,
      .target ul li,
      .topics p,
      .topics ul li {
        font-size: 16px; } }
  .profile li,
  .target li,
  .topics li {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px; }

.legal {
  max-width: 1024px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  padding: 30px;
  background-color: #f6db4c;
  border-bottom: 3px solid #eac60c; }
  @media screen and (max-width: 1024px) {
    .legal {
      margin-bottom: 20px; } }
  .legal h1 {
    padding-bottom: 20px;
    font-size: 40px;
    color: #424854;
    font-family: "PT Sans Narrow", sans-serif; }
    @media screen and (max-width: 640px) {
      .legal h1 {
        font-size: 28px; } }
    @media screen and (max-width: 360px) {
      .legal h1 {
        font-size: 22px; } }
  .legal p {
    font-size: 22px;
    color: #424854; }
    @media screen and (max-width: 640px) {
      .legal p {
        font-size: 16px; } }

.certificate {
  position: relative;
  padding: 70px 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover; }
  .certificate .velo-orange {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 89, 61, 0.8); }
  .certificate .graduate {
    position: relative;
    z-index: 2; }
    .certificate .graduate > img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-top: 30px;
      padding-bottom: 50px; }
      @media screen and (max-width: 360px) {
        .certificate .graduate > img {
          height: 60px;
          padding-top: 5px;
          padding-bottom: 20px; } }
    .certificate .graduate h1 {
      padding-bottom: 20px;
      font-size: 50px;
      color: #fff;
      font-weight: 700;
      font-family: "PT Sans Narrow", sans-serif;
      font-style: italic;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .certificate .graduate h1 {
          font-size: 40px; } }
      @media screen and (max-width: 640px) {
        .certificate .graduate h1 {
          font-size: 28px; } }
    .certificate .graduate p {
      color: #fff;
      text-align: center;
      font-size: 20px; }
      @media screen and (max-width: 768px) {
        .certificate .graduate p {
          font-size: 18px; } }
      @media screen and (max-width: 640px) {
        .certificate .graduate p {
          font-size: 14px;
          line-height: 1.2; } }
    .certificate .graduate > div {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 50px;
      width: 300px; }
      @media screen and (max-width: 480px) {
        .certificate .graduate > div {
          width: auto; } }
      .certificate .graduate > div span {
        float: left;
        padding-top: 20px;
        max-height: 56px;
        color: #fff; }
        @media screen and (max-width: 480px) {
          .certificate .graduate > div span {
            float: none;
            display: block;
            text-align: center; } }
      @media screen and (max-width: 480px) {
        .certificate .graduate > div img {
          float: none;
          display: block;
          width: auto;
          margin-right: auto;
          margin-left: auto; } }

.teacher {
  padding-top: 50px;
  padding-bottom: 50px; }
  .teacher p {
    font-size: 20px;
    color: #424854;
    text-align: center; }
    @media screen and (max-width: 640px) {
      .teacher p {
        font-size: 14px; } }
  .teacher h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
    color: #ff593d;
    font-weight: 700;
    font-family: "PT Sans Narrow", sans-serif;
    font-style: italic;
    text-align: center;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .teacher h1 {
        font-size: 40px; } }
    @media screen and (max-width: 640px) {
      .teacher h1 {
        font-size: 25px; } }
    .teacher h1 span {
      color: #b3b3b3;
      font-size: 32px;
      cursor: pointer;
      transition: all 0.2s ease 0s;
      -webkit-transition: all 0.2s ease 0s;
      -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
      -o-transition: all 0.2s ease 0s; }
      @media screen and (max-width: 640px) {
        .teacher h1 span {
          font-size: 20px; } }
      .teacher h1 span:hover {
        color: #424854; }
  .teacher .teacher-details {
    display: none;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px; }
    .teacher .teacher-details p {
      font-size: 20px;
      line-height: 1.3; }
      @media screen and (max-width: 640px) {
        .teacher .teacher-details p {
          font-size: 16px; } }
      @media screen and (max-width: 360px) {
        .teacher .teacher-details p {
          font-size: 14px; } }
      .teacher .teacher-details p i {
        display: block;
        margin-top: 20px;
        font-size: 32px;
        color: #ff593d;
        cursor: pointer; }

.full-price {
  background-color: #1a1a1a;
  padding-top: 60px;
  padding-bottom: 30px; }
  .full-price h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 90px;
    color: #ff593d;
    font-family: "PT Sans Narrow", sans-serif;
    text-align: center; }
    @media screen and (max-width: 640px) {
      .full-price h1 {
        font-size: 60px; } }
    .full-price h1 i {
      font-size: 40px;
      color: #fff; }
  .full-price p {
    color: #fff;
    text-align: center;
    line-height: 1.5;
    font-size: 20px; }
    @media screen and (max-width: 640px) {
      .full-price p {
        font-size: 14px; } }
    .full-price p strong {
      color: #f6db4c; }
  .full-price .course-date {
    color: #ff593d;
    padding-top: 10px; }
  .full-price .more-benefits {
    font-size: 16px;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.2); }
    @media screen and (max-width: 640px) {
      .full-price .more-benefits {
        font-size: 14px; } }
    @media screen and (max-width: 360px) {
      .full-price .more-benefits {
        font-size: 11px; } }
  .full-price .btn-secondary {
    margin-top: 40px;
    float: none;
    display: block;
    max-width: 190px;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
  .full-price .top {
    display: block;
    margin-top: 60px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5); }
    @media screen and (max-width: 640px) {
      .full-price .top {
        font-size: 12px; } }
    .full-price .top i {
      margin-right: 10px; }

.background.b-csv,
.certificate.b-csv {
  background: url(../img/home/b-csv.jpg) top center no-repeat; }

.background.b-csp,
.certificate.b-csp {
  background: url(../img/home/b-csp.jpg) top center no-repeat; }

.background.b-dwi,
.certificate.b-dwi {
  background: url(../img/home/b-dwi.jpg) top center no-repeat; }

.background.b-mra,
.certificate.b-mra {
  background: url(../img/home/b-mra.jpg) top center no-repeat; }

.background.b-at1,
.certificate.b-at1 {
  background: url(../img/home/b-at1.jpg) top center no-repeat; }

.background.b-dtp,
.certificate.b-dtp {
  background: url(../img/home/b-dtp.jpg) top center no-repeat; }

/*# sourceMappingURL=main.css.map */
