.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row; }

.h-align-left {
  -ms-flex-pack: start;
  justify-content: flex-start; }

.h-align-center {
  -ms-flex-pack: center;
  justify-content: center; }

.h-align-right {
  -ms-flex-pack: end;
  justify-content: flex-end; }

.h-align-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.h-align-between {
  -ms-flex-pack: justify;
  justify-content: space-between; }

.v-align-top {
  -ms-flex-align: start;
  align-items: flex-start; }

.v-align-center {
  -ms-flex-align: center;
  align-items: center; }

.v-align-bottom {
  -ms-flex-align: end;
  align-items: flex-end; }

.flex-col {
  -ms-flex-direction: column;
  flex-direction: column; }

.r-reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.campaign-section {
  background-image: url(/public/images/views/home/header-background.png);
  background-attachment: fixed;
  background-repeat: repeat; }
