// BACKGROUND PARA LOS CURSOS
$bg-csv: $secondary url(../img/home/b-csv.jpg) center top no-repeat
$bg-csp: $secondary url(../img/home/b-csp.jpg) center top no-repeat
$bg-dwi: $secondary url(../img/home/b-dwi.jpg) center top no-repeat
$bg-dwa: $secondary url(../img/home/b-dwa.jpg) center top no-repeat
$bg-mra: $secondary url(../img/home/b-mra.jpg) center top no-repeat
$bg-at1: $secondary url(../img/home/b-at1.jpg) center top no-repeat
$bg-dtp: $secondary url(../img/home/b-dtp.jpg) center top no-repeat
$bg-pfi: $secondary url(../img/home/b-pfi.jpg) center top no-repeat

//CSV
.background.b-csv,
.certificate.b-csv,
.course.b-csv,
.pick-course.b-csv
	background: $bg-csv

// CSP
.background.b-csp,
.certificate.b-csp,
.course.b-csp,
.pick-course.b-csp
	background: $bg-csp

// DWI
.background.b-dwi,
.certificate.b-dwi,
.course.b-dwi,
.pick-course.b-dwi
	background: $bg-dwi

// DWA
.background.b-dwa,
.certificate.b-dwa,
.course.b-dwa,
.pick-course.b-dwa
	background: $bg-dwa

// MRA
.background.b-mra,
.certificate.b-mra,
.course.b-mra,
.pick-course.b-mra
	background: $bg-mra

// AT1
.background.b-at1,
.certificate.b-at1,
.course.b-at1,
.pick-course.b-at1
	background: $bg-at1

// DTP
.background.b-dtp,
.certificate.b-dtp,
.course.b-dtp,
.pick-course.b-dtp
	background: $bg-dtp

// DTP
.background.b-pfi,
.certificate.b-pfi,
.course.b-pfi,
.pick-course.b-pfi
	background: $bg-pfi


.background.b-csv,
.background.b-csp,
.background.b-dwi,
.background.b-dwa,
.background.b-mra,
.background.b-at1,
.background.b-dtp,
.background.b-pfi,
	transition: background-position 0.4s ease 0s
	@media screen and (max-width: 768px)
		transition: background-position 0s ease 0s
		background-position: center center
	&.active
		background-position: center center
