// BACKGROUND PARA LOS CURSOS
$bg-csv: url(../img/home/b-csv.jpg) top center no-repeat
$bg-csp: url(../img/home/b-csp.jpg) top center no-repeat
$bg-dwi: url(../img/home/b-dwi.jpg) top center no-repeat
$bg-mra: url(../img/home/b-mra.jpg) top center no-repeat
$bg-at1: url(../img/home/b-at1.jpg) top center no-repeat
$bg-dtp: url(../img/home/b-dtp.jpg) top center no-repeat

//CSV
.background.b-csv,
.certificate.b-csv
	background: $bg-csv

// CSP
.background.b-csp,
.certificate.b-csp
	background: $bg-csp

// DWI
.background.b-dwi,
.certificate.b-dwi
	background: $bg-dwi

// MRA
.background.b-mra,
.certificate.b-mra
	background: $bg-mra

// AT1
.background.b-at1,
.certificate.b-at1
	background: $bg-at1

// DTP
.background.b-dtp,
.certificate.b-dtp
	background: $bg-dtp
