// NAV MENU
nav
	-webkit-transition: transform 0.2s ease 0s
	transition: transform 0.2s ease 0s
	width: 100%
	z-index: 11
	position: fixed
	padding: 20px 0
	background-color: $transp
	transform: translateY(0)
	@media screen and (max-width: 768)
		-webkit-transition: transform 0.1s ease 0s
		transition: transform 0.1s ease 0s

	#index
		float: left

.nav-scrollup
	background-color: lighten($black, 10%)
	@extend %boxShadow

.nav-hidden
	transform: translateY(-80px)


.menu,
.menu-top
	display: none
	float: right
	color: $white
	padding: 5px 8px
	border-radius: 10px
	font-size: 25px
	cursor: pointer
	@include transitions(0.4s, 0s)

	&:hover
		color: $primary

.menu
	@media screen and (max-width: 768px)
		transition: opacity 0.7s ease 1s
		display: block
		opacity: 0

		&.active
			opacity: 1

.menu-top
	margin-right: 30px
	font-size: 15px
	margin-top: 5px

	&:hover,
	&:active
		color: #fff

.menues
	a
		float: right
		color: $white
		margin-left: 20px
		margin-top: 10px
		text-transform: uppercase
		@include transition(all, 0.2s, 0s)

		&:hover
			color: $primary

		@media screen and (max-width: 768px)
			display: none

	.top
		display: none
		float: left
		margin-left: 80px
		color: $primary
		@include transition(margin, 0.4s, 0s)

		&.scrollup
			margin-left: 20px

