// OPEN SOURCE
.opensource
	background-color: darken($white, 10%)
	padding-top: 50px
	padding-bottom: 50px

	img 
		width: 20%
		float: left
	p
		float: right
		margin-top: 15px
		font-size: 20px
		width: 70%